{% extends 'base.html' %}
{% load i18n horizon humanize sizeformat %}
{% block title %}{% trans "HPC Resources Overview" %}{% endblock %}

{% block page_header %}
   {% include "horizon/common/_page_header.html" with title=_("HPC Resources Overview") %}
{% endblock page_header %}

{% block main %}
<div class="quota-dynamic">
  <h3>{% trans "Hardware Usage Summary" %}</h3>
    {% for hardware in hardwares%}
      <div class="d3_quota_bar">
      <div class="d3_pie_chart_usage" data-used="{% widthratio hardware.used hardware.total 100 %}"></div>
       <strong>{% trans hardware.hardware %} <br />
         {% blocktrans with used=hardware.used available=hardware.total %}Used <span> {{ used }} </span> of <span> {{ available }} </span>{% endblocktrans %}
       </strong>
      </div>
    {% endfor %}
</div>
{{ table.render }}
{% endblock %}

