{% extends 'base.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans "HPC Monitoring" %}{% endblock %}

{% block page_header %}
   {% include "horizon/common/_page_header.html" with title=_("HPC Monitoring") %}
{% endblock page_header %}
{% block main %}
<div class="row-fluid">
  <div class="span6">
    <div id="container-tl" style="width: 80%; margin:auto">
      <h4> Load per proc </h4>
      <div class="row-fluid">
      <div class="span10" id="plot-tl"></div> 
      <div class="span2" id="lc-tl"> 
        <div id="smo-tl" title="Smoothing"></div>
        <div id="leg-tl"></div>
      </div> 
      <div id="sli-tl"></div> 
      </div>
    </div>
  </div>
  <div class="span6">
    <div id="container-tr" style="width: 80%; margin:auto">
      <h4> CPU usage </h4>
      <div class="row-fluid"> 
      <div class="span10" id="plot-tr"></div>
      <div class="span2" id="lc-tr"> 
        <div id="smo-tr" title="Smoothing"></div>
        <div id="leg-tr"></div> 
      </div>       
      <div id="sli-tr"></div>
      </div> 
    </div>
  </div>
</div>
<div class="row-fluid">
  <div class="span6">
    <div id="container-bl" style="width: 80%; margin:auto">
      <h4> Disk usage </h4>
      <div class="row-fluid">
      <div class="span10" id="plot-bl"></div>
      <div class="span2" id="lc-bl"> 
        <div id="smo-bl" title="Smoothing"></div>
        <div id="leg-bl"></div> 
      </div>       
      <div id="sli-bl"></div> 
      </div>
    </div>
  </div>
  <div class="span6">
    <div id="container-br" style="width: 80%; margin: auto">
      <h4> Byte transfer </h4>
      <div class="row-fluid">
      <div class="span10" id="plot-br"></div>
      <div class="span2" id="lc-br"> 
        <div id="smo-br" title="Smoothing"></div>
        <div id="leg-br"></div> 
      </div>       
      <div id="sli-br"></div> 
      </div>       
    </div>
  </div>
</div>
<div id="sli"></div>
{% endblock main %}
{% block js %} 
  {% include "horizon/_scripts.html" %}
<script type="text/javascript">
function line_plot(element,series,legend,preview){

  var graph = new Rickshaw.Graph({
        element: element,
        renderer: 'line',
        series: series
  });
  graph.render();
/*
  var graph_preview = new Rickshaw.Graph.RangeSlider({
      graph: graph,
      element: document.getElementById(preview)
  });
*/
  var graph_legend = new Rickshaw.Graph.Legend( {
	graph: graph,
	element: legend
  } );

  var shelving = new Rickshaw.Graph.Behavior.Series.Toggle( {
	graph: graph,
	legend: graph_legend
  } );

  var order = new Rickshaw.Graph.Behavior.Series.Order( {
	graph: graph,
	legend: graph_legend
  } );

  var highlight = new Rickshaw.Graph.Behavior.Series.Highlight( {
	graph: graph,
	legend: graph_legend
  } );
  
  var xAxis = new Rickshaw.Graph.Axis.X( {
	graph: graph
  } );
  xAxis.render();

  var yAxis = new Rickshaw.Graph.Axis.Y( {
  	graph: graph
  } );
  yAxis.render();

  var hoverDetail = new Rickshaw.Graph.HoverDetail( {
	graph: graph,
        xFormatter: function(x) { return x + "seconds" },
        yFormatter: function(y) { return Math.floor(y) + " percent" }
  } );

};

var element1=document.getElementById("plot-tl");
var series1={{ data_tl|safe }};
var legend1=document.getElementById("leg-tl");
var preview1=document.getElementById("sli-tl");
line_plot(element1,series1,legend1,preview1);

var element2=document.getElementById("plot-tr");
var series2={{ data_tr|safe }};
var legend2=document.getElementById("leg-tr");
var preview2=document.getElementById("sli-tr");
line_plot(element2,series2,legend2,preview2);

var element3=document.getElementById("plot-bl");
var series3={{ data_bl|safe }};
var legend3=document.getElementById("leg-bl");
var preview3=document.getElementById("sli-bl");
line_plot(element3,series3,legend3,preview3);

var element4=document.getElementById("plot-br");
var series4={{ data_br|safe }};
var legend4=document.getElementById("leg-br");
var preview4=document.getElementById("sli-br");
line_plot(element4,series4,legend4,preview4);
</script>
{% endblock %}


<!--
  <div class="span6">
    <h4>{% trans "Disk usage" %}</h4>
    <div class="chart_container">
      <div class="chart"
           data-chart-type="line_chart"
           data-url="{% url 'horizon:admin:hpc_monitoring:data_bl'%}">
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12">
        <h4>{% trans "Byte transfer" %}</h4>
        <div class="chart_container">
          <div class="chart"
               data-chart-type="line_chart"
               data-url="{% url 'horizon:admin:hpc_monitoring:data_br'%}">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
-->
<!--
<script type="text/javascript">
  if (typeof horizon.d3_line_chart !== 'undefined') {
    horizon.d3_line_chart.init("div[data-chart-type='line_chart']",
      {'auto_size': false});
  }
</script>
-->
